In [9]:
import pandas as pd
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [10]:
df=pd.read_csv('/Users/pranav/Desktop/Coding/Data-Science/DATA/hamlets.csv')

In [ ]:
df_english=df[df['language']=='English']
df

AttributeError: 'DataFrame' object has no attribute 'split'

In [16]:
df_english

   Unnamed: 0 language                                               text
0           1  English  The Tragedie of Hamlet\n                      ...