In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('/Users/pranav/Desktop/Coding/Data-Science/DATA/Travel.csv')

df.isna().sum()
df['Gender']=df['Gender'].replace({'Fe Male':'Female'})
df['MaritalStatus']=df['MaritalStatus'].replace('Single','Ummarried')

df.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [5]:
na_features=[feature for feature in df.columns if df[feature].isna().sum()>=1]
for col in na_features:
    x=np.round((df[col].isna().sum())/len(df)*100,2)
    print(f'{col} - {x}%')

Age - 4.62%
TypeofContact - 0.51%
DurationOfPitch - 5.14%
NumberOfFollowups - 0.92%
PreferredPropertyStar - 0.53%
NumberOfTrips - 2.86%
NumberOfChildrenVisiting - 1.35%
MonthlyIncome - 4.77%

In [ ]:

df[na_features].describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

In [18]:
import seaborn as sns
from sklearn.decomposition import PCA

df=sns.load_dataset('iris')
X=df.select_dtypes(exclude='object')

pca=PCA(n_components=2)
X=pca.fit_transform(X)