In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('/Users/pranav/Desktop/Coding/Data-Science/DATA/Algerian_forest_fires_dataset_UPDATE.csv',header=1)

na_index=df[df.isna().any(axis=1)].index

# Drop rows with any NaN values
df=df.drop(index=na_index).reset_index()
df.loc[df['day'].str.isnumeric(),['day']]

region_divider_index=df[~df['day'].str.isnumeric()].index[0]

df.loc[:region_divider_index,['Region']]=0
df.loc[region_divider_index:,['Region']]=1

df=df.drop(index=region_divider_index).reset_index()

df['Region']=df['Region'].astype(int)

In [3]:
df.columns=df.columns.str.strip()
df=df.drop(columns=['level_0','index'])

In [4]:
df[['day','month','year','Temperature','RH','Ws']]=df[['day','month','year','Temperature','RH','Ws']].astype(int)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          243 non-null    int64
 1   month        243 non-null    int64
 2   year         243 non-null    int64
 3   Temperature  243 non-null    int64
 4   RH           243 non-null    int64
 5   Ws           243 non-null    int64
 6   Rain         243 non-null    object
 7   FFMC         243 non-null    object
 8   DMC          243 non-null    object
 9   DC           243 non-null    object
 10  ISI          243 non-null    object
 11  BUI          243 non-null    object
 12  FWI          243 non-null    object
 13  Classes      243 non-null    object
 14  Region       243 non-null    int64
dtypes: int64(7), object(8)
memory usage: 28.6+ KB

In [6]:
df.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes', 'Region'],
      dtype='object')

In [7]:
df[['Rain', 'FFMC','DMC', 'DC', 'ISI', 'BUI', 'FWI']]=df[['Rain', 'FFMC','DMC', 'DC', 'ISI', 'BUI', 'FWI']].astype(float)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          243 non-null    int64
 1   month        243 non-null    int64
 2   year         243 non-null    int64
 3   Temperature  243 non-null    int64
 4   RH           243 non-null    int64
 5   Ws           243 non-null    int64
 6   Rain         243 non-null    float64
 7   FFMC         243 non-null    float64
 8   DMC          243 non-null    float64
 9   DC           243 non-null    float64
 10  ISI          243 non-null    float64
 11  BUI          243 non-null    float64
 12  FWI          243 non-null    float64
 13  Classes      243 non-null    object
 14  Region       243 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 28.6+ KB

In [9]:
df['Classes']

0       not fire
1       not fire
2       not fire
3       not fire
4       not fire
           ...
238         fire
239     not fire
240     not fire
241     not fire
242    not fire
Name: Classes, Length: 243, dtype: object

In [10]:
df=pd.read_csv('/Users/pranav/Desktop/Coding/Data-Science/DATA/Algerian_forest_fires_cleaned_dataset.csv')

In [ ]:
sns.pairplot(

AttributeError: module 'seaborn' has no attribute 'plot'